<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>lawfred-intelligence</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>A7260142-98E3-480B-9156-959C2AE8F64D</key>
		<array/>
		<key>AD00D284-C85A-451C-A480-FE141AF0F103</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7260142-98E3-480B-9156-959C2AE8F64D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Anna Berlee</string>
	<key>description</key>
	<string>Search Legal Intelligence straight from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lawfred Intelligence</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>lf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Momentje</string>
				<key>script</key>
				<string>import json 
import sys
import urllib
import urllib2

zoekterm = urllib.quote(sys.argv[1])
link = 'https://api.legalintelligence.com/search?q=' + zoekterm
req = urllib2.Request(link)
req.add_header('Authorization', 'Bearer @TOKEN')
resp = urllib2.urlopen(req)
content = resp.read()
values = json.loads(content)

begin = '{"items":['	
lijst = ''
eind = ']}'
counter = 0


for value in values["Documents"]:	
	title = value["DisplayTitle"]
	url = value["Url"]
	subtitle = value["Summary"]
	lijst = lijst + '{"uid":"desktop","type":"file","title":"' + title + '","subtitle":"' + subtitle + '","arg":"' + url + '","autocomplete":"Desktop","icon":{"type":"fileicon","path":"' + url + '"}}'
	if counter &lt; 11 :
		lijst = lijst + ','
	if counter &gt; 10 :
    		break
	counter = counter + 1


output = begin + lijst + eind
sys.stdout.write(output)

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>zoeken</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AD00D284-C85A-451C-A480-FE141AF0F103</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A7260142-98E3-480B-9156-959C2AE8F64D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>A7260142-98E3-480B-9156-959C2AE8F64D</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>AD00D284-C85A-451C-A480-FE141AF0F103</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.annaberlee.nl</string>
</dict>
</plist>
